<h2><%= @cocktail.name %></h2>

<p>List of ingredients</p>

<p><% @cocktail.doses.each do |dose| %></p>
<p><%= dose.description %>       <%= dose.ingredient.name %></p>
<p><% end %></p>

<p><%=  link_to "Create a dose", new_cocktail_dose_path(@cocktail) %></p>
<p><%= link_to "Back to other cocktails", cocktails_path %></p>

